<div>
  <%= simple_form_for([@mood, Mooditem.new], remote: true) do |f| %>
    <%= f.input :photo, as: :file, label: false %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="container-fluid" style = "position: relative;">
  <div class="moodimages">
    <% @mood.mooditems.each do |item| %>
    <div class="moodimage">
      <%= cl_image_tag(item.photo.key, width: 300, height: 300, crop: "limit",
        class: 'resize-image',
        data: { left: item.left, top: item.top, z: item.depth, height: item.height, width: item.width, form: "#edit_mooditem_#{item.id}"}) %>
    </div>
        <div class= "d-none">
          <%= simple_form_for([@mood, item], remote: true) do |f| %>
            <%= f.input :top %>
            <%= f.input :left %>
            <%= f.input :height %>
            <%= f.input :width %>
            <%= f.input :depth %>
            <%= f.submit "update coordinates" %>
            <%= link_to "Delete", mooditem_path(item),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
