<div class="container">
  <h1 class="text-center cabin mt-3 mb-2"><%= @mood.project.title %></h1>
</div>

<div class="container-fluid">
  <div class="moodimages">
    <% @mood.mooditems.each do |item| %>
    <div class="moodimage">
      <%= cl_image_tag(item.photo.key, width: 480, height: 320, crop: "limit",
        class: 'resize-image',
        data: { left: item.left, top: item.top, z: item.depth, height: item.height, width: item.width, form: "#edit_mooditem_#{item.id}"}) %>
    </div>
        <div class= "d-none">
          <%= simple_form_for([@mood, item], remote: true) do |f| %>
            <%= f.input :top %>
            <%= f.input :left %>
            <%= f.input :height %>
            <%= f.input :width %>
            <%#= f.input :depth %>
            <%= f.submit "update coordinates" %>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class= "d-flex">
    <button type="button" class="btn" data-toggle="modal" data-target="#MoodUploadModalCenter" id="fixedModalButton">
     <!--  <i class="fas fa-plus-circle"></i> --><p>+</p>
    </button>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="MoodUploadModalCenter" tabindex="-1" role="dialog" aria-labelledby="MoodUploadModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 15px; right: 15px">
          <span aria-hidden="true" id='close-after-create'>&times;</span>
        </button>
        <h5 class="modal-title">Add an item to your moodboard</h5>
        </div>
      <div class="modal-body mood-modal">

          <%= simple_form_for([@mood, Mooditem.new], html: {class: 'd-flex justify-content-around w-100'}) do |f| %>
            <%= f.input :photo, as: :file, class: 'btn btn-dark', label: false %>
            <%= f.submit 'Upload', class: 'btn btn-dark', id:'submit-modal-image' %>
          <% end %>
      </div>

    </div>
  </div>
</div>

<div class= "postit" id="postits-1">
  <ul>
    <li id="postit1" style="
    margin-top: -17px;
    margin-left: 50px;
    font-size:1.6rem;
    ">
      <a>
        <p>Replace all character names with colors</p>
      </a>
    </li>
    <li id="postit2" style="
    margin-top: 17px;
    margin-left: -40px;
    font-size:1.3rem;
    ">
      <a>
        <p>Stuck in the Middle With You
          <br>
          - hot tango
          <br>
          - dirty warehouse
          <br>
          - little green bag
        </p>
      </a>
    </li>
  </ul>
</div>

<div class= "postit" id="postits-2">
  <ul style="overflow: visible;">
    <li id="postit3" style="
    margin-top: 50px;
    margin-left: -50px;
    font-size:1.4rem;
    ">
      <a style="background-color:#f7beff;">
        <p>Stage play instead of movie?
          <br>
          - Shakespeare
          <br>
          - Tennessee Williams
        </p>
      </a>
    </li>
  </ul>
</div>

<div class= "embeddedvideo">
  <iframe width="360" height="200" src="https://www.youtube.com/embed/ln7Vn_WKkWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!-- Delete button - Comment this code before demo ! -->
<%# @mood.mooditems.each do |item| %>
 <%#= simple_form_for([@mood, item], remote: true) do |f| %>
   <%#= link_to "Delete", mooditem_path(item),
     method: :delete,
     data: { confirm: "Are you sure?" } %>
     <%# end %>
<%# end %>
