<div class="mood-form">
  <h1><strong><%= @mood.project.title %></strong>'s moodboard</h1>
  <%= link_to project_path(@mood.project) do %>
    <div class="">
      <p><i class="fas fa-arrow-circle-left"></i>  Back </p>
    </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="moodimages">
    <% @mood.mooditems.each do |item| %>
    <div class="moodimage">
      <%= cl_image_tag(item.photo.key, width: 640, height: 480, crop: "limit",
        class: 'resize-image',
        data: { left: item.left, top: item.top, z: item.depth, height: item.height, width: item.width, form: "#edit_mooditem_#{item.id}"}) %>
    </div>
        <div class= "d-none">
          <%= simple_form_for([@mood, item], remote: true) do |f| %>
            <%= f.input :top %>
            <%= f.input :left %>
            <%= f.input :height %>
            <%= f.input :width %>
            <%#= f.input :depth %>
            <%= f.submit "update coordinates" %>
            <%#= link_to "Delete", mooditem_path(item),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class= "d-flex">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MoodUploadModalCenter" id="fixedModalButton">
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="MoodUploadModalCenter" tabindex="-1" role="dialog" aria-labelledby="MoodUploadModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body mood-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 15px; right: 15px">
          <span aria-hidden="true" id='close-after-create'>&times;</span>
        </button>

        <div class= "d-flex">
          <%= simple_form_for([@mood, Mooditem.new]) do |f| %>
            <%= f.input :photo, as: :file, label: false %>
            <%= f.button :submit, class: 'btn btn-primary', id:'submit-modal-image' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<% @mood.mooditems.each do |item| %>
 <%= simple_form_for([@mood, item], remote: true) do |f| %>
   <%= link_to "Delete", mooditem_path(item),
     method: :delete,
     data: { confirm: "Are you sure?" } %>
     <% end %>
<% end %>
