<body>
   <!-- <script>initMoodBoard();</script>
   <element onclick="initMoodBoard()"> -->

  <%= cl_image_tag("xg8irtf0xzebwkvomm8c",
        width: 400, height: 300, crop: :fill, class: 'draggable position-absolute', data: { x: 50, y: 10}) %>

  <%= cl_image_tag("xg8irtf0xzebwkvomm8c",
        width: 150, height: 150, crop: :thumb, gravity: :face, class: 'draggable position-absolute', data: { x: 70, y: 40}) %>

  <%= simple_form_for(@mood) do |f| %>
    <!-- [...] -->
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <!-- [...] -->
  <% end %>

  <%#= cl_image_tag @mooditem1.photo.key, height: 300, width: 400, crop: :fill %>

  <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path @mooditem1.photo.key, height: 300, width: 400, crop: :fill %>')">
    What the Fluff
  </div>


<!-- <div>
  <div class="container">
    <h1 class="text-center mb-3"> Some Stuff </h1>
  </div>
    <button id="upload_widget" class="cloudinary-button">Upload files</button>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
      cloudName: 'my_cloud_name',
      uploadPreset: 'my_preset'}, (error, result) => {
        if (!error && result && result.event === "success") {
          console.log('Done! Here is the image info: ', result.info);
        }
      }
    )

    document.getElementById("upload_widget").addEventListener("click", function(){
        myWidget.open();
      }, false);
    </script>
</div> -->
</body>
