<div class="print-absolute">
  <h1 id="project-title-scene" class="text-center cabin mt-1"> <%= @project.title %></h1>
  <a href="https://res.cloudinary.com/diewz4u97/image/upload/v1575460944/Reservoir%20Dogs%20Characters/Storiz-Reservoir_Dogs_okvbdj.pdf" target="_blank" download="Storiz-Reservoir_Dogs"><i class="fas fa-print"></i></a>
</div>
<div class="d-flex align-items-baseline">
  <div class="scene-number">
    <div class="d-flex">
      <h4 class="mt-2 mb-4 scene-title" data-scenetitle="id-<%= @scene.id %>"><%= @scene.title %></h4>
    </div>
  </div>
  <%# <%= link_to "Edit title", edit_scene_path(@scene), class: "btn btn-sm btn-info edit-btn" %>
</div>

<%#---------------------------------- Scenes list -----------------------------------------------%>
<div class="d-flex elements-container">
  <div class="indexx">
    <div class="index">
    <h4 class="text-center scenes-list mt-1">Scenes list</h4>
        <ul class="overflow-scroll index-list list-group">
          <%= render 'scenes/scenes_list', scenes: @scenes %>
        </ul>
    </div>
    <% if @project.category == "Book" %>
      <button id="btn-addscene" type="button" class="ml-4 mt-2 room-button room-button-1" data-toggle="modal" data-target="#addSceneFromWritingRoom">New Chapter</button>
    <% else %>
      <button id="btn-addscene" type="button" class="ml-4 mt-2 room-button room-button-1" data-toggle="modal" data-target="#addSceneFromWritingRoom">New Scene</button>
    <% end %>
<%#---------------------------------- Hidden form for reorder -----------------------------------------------%>
    <div class="d-none">
      <%= simple_form_for :truc, url: update_rank_scene_path, method: :post, remote: true do |f| %>
          <%= f.input :oldIndex %>
          <%= f.input :newIndex %>
          <%= f.button :submit, class: "update-rank-btn" %>
      <% end %>
    </div>
  </div>

<%#---------------------------------- Editor -----------------------------------------------%>
  <div class="editor" data-scene-id="<%= @scene.id %>">
    <%= simple_form_for @scene, remote: true, html: { id: 'text-save' } do |f| %>
        <%= f.rich_text_area :content %>
        <%= f.button :submit, class: 'btn btn-info update-btn' %>
    <% end %>
  </div>

<%#---------------------------------- Bible access -----------------------------------------------%>
  <div class="scene-bible">
    <div class="bible-events-title">
      <h4>Project bible</h4>
    </div>
    <div class="search-bar scene-bible-search">
      <%= form_tag characters_path, remote: true, class: "", method: :get do %>
        <div class="d-flex align-items-center scene-search-form">
          <%= text_field_tag :query,
            params[:query],
            class: "search-input form-control",
            id: "input-search-bible-scene",
            placeholder: "..."
          %>
          <%= text_field_tag :project_id,
            params[:project_id],
            class: "d-none",
            value: @project.id
          %>
          <%#= submit_tag "Rechercher", class: "search-btn btn btn-info" %>
          <%= button_tag type: 'submit', class: "search-btn btn btn-info", id: "btn-search-bible-scene" do %>
              <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="bible-events" id="bible-scene-show">
      <!-- INSERER LE RESULTAT DE RECHERCHE ICI -->
    </div>
  </div>
</div>

<!-- Modal Formulaire AddEvent on Character-->
<% @characters.each do |character| %>
  <div class="modal fade bd-example-modal-lg" id="charModal<%= character.id %>" tabindex="-1" role="dialog" aria-labelledby="charModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="charModalLabel">What's happening to <%= character.first_name %> <%= character.last_name %>?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'character_events/form', character: character, character_event: CharacterEvent.new %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Modal Formulaire AddEvent on Character end-->

<!-- Add Scene MODAL -->

  <div id="addSceneFromWritingRoom" class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="addSceneFromWritingRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
      <div id="add-scene-from-writing-room-modal-content" class="modal-content">
        <div class="modal-header">
          <% if @project.category == "Book" %>
            <h5 class="modal-title" id="addSceneFromWritingRoomLabel">Add a new Chapter</h5>
          <% else %>
            <h5 class="modal-title" id="addSceneFromWritingRoomLabel">Add a new Scene</h5>
          <% end %>
          <button id="close-addSceneFromWritingRoom-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="addSceneFromWritingRoom-modal-body">
          <%= render 'scenes/new', project: @project, scene: @new_scene %>
        </div>
      </div>
    </div>
  </div>

<!-- Add Scene MODAL end -->


























