  <% if @project.scenes.any? %>
    <div class="text-center">
      <% last_scene = @scenes.order(created_at: :desc).limit(1).first %>
        <%= link_to scene_path(last_scene), class:"" do %>
          <h4 class="last-scenes mt-2"><strong>Last added</strong></h4>
          <div class="last-scenes">
          <% created = Time.now.strftime("%Y%j").to_i - last_scene.created_at.strftime("%Y%j").to_i %>
          <% if created == 0 %>
            Scene <%= last_scene.number %><p class="d-inline text-muted"> - Today</p>
          <% elsif created == 1 %>
            Scene <%= last_scene.number %><p class="d-inline text-muted"> - Yesterday</p>
          <% else %>
            Scene <%= last_scene.number %><p class="d-inline text-muted"> - <%= created %> days ago</p>
          <% end %>
          </div>
        <% end %>
      <% updated_scene = @scenes.order(updated_at: :desc).limit(1).first %>
      <%= link_to scene_path(updated_scene), class:"" do %>
        <h4 class="last-scenes mt-2"><strong>Last updated</strong></h4>
        <div class="last-scenes">
          <% updated = Time.now.strftime("%Y%j").to_i - updated_scene.updated_at.strftime("%Y%j").to_i %>
          <% if updated == 0 %>
            Scene <%= updated_scene.number %><p class="d-inline text-muted"> - Today</p>
          <% elsif updated == 1 %>
            Scene <%= updated_scene.number %><p class="d-inline text-muted"> - Yesterday</p>
          <% else %>
            Scene <%= updated_scene.number %><p class="d-inline text-muted"> - <%= updated %> days ago</p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
