<div class="container">
  <h1 class="cabin cabin-margin text-center"><%= @project.title %></h1>
  <div class="dashboard-content">
  <div class="d-flex justify-content-center">
    <%= link_to project_pitch_path(@project), class:"link-box" do %>
      <div class="pitch">
        <h2>Pitch</h2>
        <h4>Describe your story in a few words</h4>
      </div>
    <% end %>
    <%= link_to project_path(@project), class:"link-box" do %>
    <div class="synopsis">
      <h2>Synopsis</h2>
      <h4>Develop your story in one page or a few pages</h4>
    </div>
    <% end %>
    <%= link_to project_bibles_path(@project), class:"link-box" do %>
      <div class="bible-project">
        <h2>Bible</h2>
        <h4>Keep tracks on your characters, plots or locations</h4>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <div class="room">
      <h2 class="text-center">Writing Room</h2>
      <div class="d-flex justify-content-center">
        <%= link_to "Resume", scene_path(@project.scenes.order(:updated_at).last), class: 'mr-4 mt-1 room-button-1' %>
        <%= link_to "New scene", new_project_scene_path(@project), class: 'ml-4 mt-1 room-button-2' %>
      </div>
    </div>
  </div>
  <%= link_to mood_path(@project.mood) do %>
    <div class="moodboard">
    </div>
  <% end %>
</div>
