<div class="project-container">
  <h1 class="cabin text-center"><%= @project.title %></h1>
  <div class="d-flex justify-content-between">
    <%= link_to project_pitch_edit_path(@project), class:"link-box" do %>
      <div class="pitch">
        <h2>Pitch</h2>
        <h4>Describe your story in a few words</h4>
      </div>
    <% end %>
    <%= link_to project_path(@project), class:"link-box" do %>
    <div class="synopsis">
      <h2>Synopsis</h2>
      <h4>Develop your story in one page or a few pages</h4>
    </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to mood_path(@project), class:"link-box" do %>
      <div class="moodboard">
        <h2>Inspirations</h2>
        <h4>Write down ideas & store inspiring pics, musics or videos</h4>
      </div>
    <% end %>
    <%= link_to project_bibles_path(@project), class:"link-box" do %>
      <div class="bible">
        <h2>Bible</h2>
        <h4>Store in one place the important infos on your characters, plots or locations</h4>
      </div>
    <% end %>
  </div>

  <div class="scenes">
    <%= link_to scene_path(@project.scenes.order(:updated_at).last), class:"" do %>
        <h2>Scenario</h2>
        <div class="d-flex align-items-center flex-column">
          <table class="table table-sm col-sm-12 col-lg-8 text-center scenes-table">
            <tbody>
              <tr>
                  <% @project.scenes.order(:number).each do |scene| %>
                    <%= link_to scene_path(scene), class:"" do %>
                      <th class="scene-<%= scene.number %> scene" scope="col"></th>
                    <% end %>
                  <% end %>
              </tr>
            </tbody>
          </table>
          <h4><%= @project.scenes.length %> scenes</h4>
        </div>
    <% end %>
      <% updated_scene = @scenes.order(updated_at: :desc).limit(1).first %>
      <%= link_to scene_path(updated_scene), class:"" do %>
      <h4 class="last-scenes text-center mt-2"><strong>Last updated scene</strong></h4>
      <div class="last-scenes text-center">
        <%= updated_scene.number %>. <%= updated_scene.title %> - Updated on <%= updated_scene.updated_at %>
      </div>
      <% end %>
    <% last_scene = @scenes.order(created_at: :desc).limit(1).first %>
    <%= link_to scene_path(last_scene), class:"" do %>
      <h4 class="last-scenes text-center mt-2"><strong>Last added scene</strong></h4>
      <div class="last-scenes text-center">
        <%= last_scene.number %>. <%= last_scene.title %> - Created on <%= last_scene.created_at %>
      </div>
    <% end %>
  </div>
</div>
