<div class="dashboard">
  <div class="room-title">
    <h1 class="cabin cabin-margin text-center"><%= @project.title %></h1>
  </div>
  <div class="links">
    <div class="d-flex justify-content-center tabs">
      <%= link_to project_bibles_path(@project), class:"link-box bible-link" do %>
        <div class="bible-project">
          <h2>Bible</h2>
          <h4>Characters, plots, locations & more</h4>
        </div>
      <% end %>
      <%= link_to project_pitch_path(@project), class:"link-box" do %>
        <div class="pitch">
          <h2>Pitch</h2>
          <h4>Describe your story in a few words</h4>
        </div>
      <% end %>
      <%= link_to project_path(@project), class:"link-box" do %>
      <div class="synopsis">
        <h2>Synopsis</h2>
        <h4>Develop your story in a few pages</h4>
      </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center room-container">
      <div class="room">
        <h2 class="text-center">Writing Room</h2>
        <% if @project.scenes.any? %>
          <div class="d-flex justify-content-center">
            <%= link_to "Resume", scene_path(@project.scenes.order(:updated_at).last), class: ' mt-2 room-button room-button-1' %>
            <!-- #CHAPTER ? -->
            <% if @project.category == "Book" %>
              <%= link_to 'New Chapter', "#", class: 'mt-2 room-button room-button-1', data: {toggle: "modal", target: "#addSceneFromProject"} %>
            <% else %>
              <%= link_to 'New Scene', "#", class: 'mt-2 room-button room-button-1', data: {toggle: "modal", target: "#addSceneFromProject"} %>
            <% end %>
          </div>
          <!-- #CHAPTER ? -->
          <h4 class="text-center subroom">Number of scenes : <%= @project.scenes.length %></h4>
          <%= render 'scene_infos' %>
        <% else %>
          <% if @project.category == "Book" %>
            <div class="d-flex justify-content-center">
              <%= link_to 'First Chapter', "#", class: 'mt-2 room-button-3 text-center', data: {toggle: "modal", target: "#addSceneFromProject"} %>
            </div>
                <h4 class="text-center subroom">No chapters yet !</h4>
          <% else %>
            <div class="d-flex justify-content-center">
              <%= link_to 'First Chapter', "#", class: 'mt-2 room-button-3 text-center', data: {toggle: "modal", target: "#addSceneFromProject"} %>
            </div>
                <h4 class="text-center subroom">No scenes yet !</h4>
          <% end %>
        <% end %>
        <div class="d-flex justify-content-center mt-3 bible-mobile">
          <%= link_to "Bible", project_bibles_path(@project), class:"room-button room-button-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to mood_path(@project.mood), class:"mood-hover" do %>
  <div class="moodboard">
  </div>
<% end %>

<!-- Add Scene MODAL -->

  <div id="addSceneFromProject" class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="addSceneFromProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
      <div id="add-scene--from-project-modal-content" class="modal-content">
        <div class="modal-header">
          <% if @project.category == "Book" %>
            <h5 class="modal-title" id="addSceneFromProjectLabel">Add a new Chapter</h5>
          <% else %>
            <h5 class="modal-title" id="addSceneFromProjectLabel">Add a new Scene</h5>
          <% end %>
          <button id="close-addSceneFromProject-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="addSceneFromProject-modal-body">
          <%= render 'scenes/new', project: @project, scene: @scene %>
        </div>
      </div>
    </div>
  </div>

<!-- Add Scene MODAL end -->
