
<div class="bible">

  <div class="container">
    <h1 class="text-center mb-3"> <%= @project.title %>'s bible </h1>

    <!-- Navigation tabs -->
    <div class="reduced-container mb-5">
      <%= link_to project_path(@project) do %>
        <div class="go-back-btn">
          <p><i class="fas fa-arrow-circle-left"></i>  Back </p>
        </div>
      <% end %>
<!--       <div class="back-link">
        <%= link_to project_path(@project) %>
      </div> -->
      <ul class="nav justify-content-between mt-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Plots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Locations</a>
        </li>
      </ul>
    </div>
    <!-- Navigation tabs end -->

  </div>
  <!-- Tab panels -->
  <div class="tab-content">

    <!-- Characters panel -->
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row charac-div mx-0">
        <div class="list col-2 px-0">
          <ul class="list-group list-group-flush list-characters example">

            <% @characters.each_with_index do |char, index| %>
              <li class="list-group-item" data-char="char-<%= index+1 %>" >
                <%#= link_to character_path(char), class: "char-item", remote: true do %>
                <p><%= char.first_name %> <%= char.last_name %></p>
                <%# end %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- _________________________________________Character show iteration________________________________________________ -->
        <div class="col-10 px-0" id="char-show">
          <% randomImageLinks = ["https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQinrz7mI6Fy31Y8e5idX1-g7WJyvy1mOUfRKa7vn4BbD2xVCDw&s", "https://digitalpainting.school/wp-content/uploads/2017/01/irakli_nadar_digital_painting0.jpg", "https://www.gouvernement.fr/sites/default/files/styles/illustration-centre/public/contenu/illustration/2017/07/img_3371_720p.jpg?itok=0vBgR2N_", "https://i.pinimg.com/236x/42/52/12/425212bc3bf536c60dddaf03ad3447ab--square.jpg", "https://www.thephoblographer.com/wp-content/uploads/2018/02/754e4d784683.55d97bba9eb7e-770x770.jpg", "https://i.pinimg.com/236x/f9/9f/e6/f99fe64c9bf9f8fce8fc693815e0fb31--film-photography-square.jpg"] %>
          <% @characters.each_with_index do |character, index| %>
            <% index += 1 %>
            <div class="char-description" id="char-<%= index %>">
              <!-------------------- CHARACTER INFOS -------------------->
              <div class="character-container p-4">
                <!---------------------- Avatar & infos générales -------------------->
                <div class="character-infos mb-3">
                  <div class="character-image pr-3">
                    <img src=<%= randomImageLinks.sample %> alt=<%= character.last_name %> class="charavatar"><!-- INSRER IMAGE CARRE -->
                  </div>
                  <div class="character-basics">
                    <div class="character-name mt-3">
                      <h1><%= character.first_name %> <strong><%= character.last_name.upcase %></strong></h1>
                    </div>
                    <div class="character-generals mt-2 mb-2">
                      <i class="fas fa-venus-mars"></i> <%= character.genre %> &nbsp;&nbsp; <i class="fas fa-birthday-cake"></i> <%= character.birthdate.strftime("%d/%m/%Y") %>
                    </div>
                  </div>
                </div>
                <!-------------------- Description -------------------->
                <div class="character-description">
                  <p><%= character.description %></p>
                </div>
                <hr class="dashed-separator"> <!-- Separateur -->



                <!-------------------- Logs -------------------->
                <div class="logs-area">
                  <!-- Insérer tableau des logs ici -->
                </div>
              </div>
              <!-------------------- CHARACTER EVENTS -------------------->
              <div class="right-part"> <!-- Liste des events -->
                <div class="right-part-title d-flex"> <!-- Titre et bouton -->
                  <button id="btn-addevent" type="button" class="btn btn-outline-dark flex-fill" data-toggle="modal" data-target="#charModal<%= character.id %>"><i class="fas fa-plus"></i> Add event</button>
                </div>
                <div data-event="<%= character.id %>" class="right-part-events pt-3 pl-4">
                  <% if character.character_events.blank? %>
                    <p id="empty-notice"><i>No main event yet for <%= character.first_name %></i></p>
                  <% else %>
                    <% character.character_events.each do |character_event| %>
                      <%= render 'character_events/show', character_event: character_event %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <!-- _________________________________________Character show iteration end____________________________________________ -->

        </div>
      </div>
    </div>
    <!-- Characters panel end -->

    <!-- Scenes panel -->
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <ul>
        <% @scenes.each do |scene| %>
          <li><strong><%= scene.number %></strong> - <%= scene.title if scene.title.present? %></li>
        <% end %>
      </ul>
    </div>
    <!-- Scenes panel end -->

    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
    </div>

  </div>
  <!-- Tab panels end -->

</div>

<!-- Modal Formulaire -->
<% @characters.each do |character| %>

  <div class="modal fade bd-example-modal-lg" id="charModal<%= character.id %>" tabindex="-1" role="dialog" aria-labelledby="charModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="charModalLabel">What's happening to <%= character.first_name %> <%= character.last_name %>?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'character_events/form', character: character, character_event: @character_event %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Modal Formulaire end-->






















