
  <div class="character-container p-5">

    <div class="left-part">

      <!-- Partie supèrieure (infos générales et photo) -->
      <div class="character-infos">

        <div class="character-image pr-3">
          <img src="https://vignette.wikia.nocookie.net/uvm-mock-trial/images/8/89/00060bq0.jpg/revision/latest?cb=20140817200436" alt="<%= @character.last_name %>" class="charavatar"><!-- INSRER IMAGE CARRE -->
        </div>

        <div class="character-basics">
          <div class="character-name">
            <h1><%= character.first_name %></h1>
            <h1><strong><%= character.last_name.upcase %></strong></h1>
          </div>

          <div class="character-generals mt-2 mb-2">
            <i class="fas fa-venus-mars"></i> <%= character.genre %> &nbsp;&nbsp; <i class="fas fa-birthday-cake"></i> <%= character.birthdate.strftime("%d/%m/%Y") %>
          </div>
        </div>
      </div>

      <hr class="dashed-separator">

      <!-- Description -->

      <div class="character-description">
        <p><strong>Biography</strong></p>
        <p><%= character.description %></p>
      </div>

      <!-- Logs -->
      <div class="logs-area">

      </div>

    </div>
  </div>
  <!-- Events (AJAX à faire) -->

  <div class="right-part">
    <div class="right-part-title pt-3">
      <h4>Character events</h4>
    </div>
    <div class="right-part-events pt-3">
      <ul>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
        <li>J'aime le bruit blanc de l'eau</li>
      </ul>
    </div>
    <div class="right-part-add-event p-4">
      <p>Module d'ajout d'event</p>
    </div>
  </div>

