<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Storiz | Masterpieces made easy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('logoonly.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body id="<%= controller_name %>-<%= action_name %>">
    <% if current_page? project_pitch_path(@project) %>
      <%= render 'shared/navbar_pitch' %>
    <% elsif current_page? edit_project_path(@project) %>
      <%= render 'shared/navbar_pitch' %>
    <% elsif current_page? project_bibles_path(@project) %>
      <%= render 'shared/navbar_bible' %>
    <% elsif current_page? mood_path %>
      <%= render 'shared/navbar_mood' %>
    <% elsif current_page? scene_path %>
      <%= render 'shared/navbar_scenes' %>
    <% elsif current_page? root_path %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
