<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Storiz | Masterpieces made easy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
      <link rel="stylesheet" type="text/css" href="trix.css">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class=<%= (current_page?(root_path) || params[:controller] == "scenes" || params[:controller] == "bibles") ? "" : "container" %>>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
      <script type="text/javascript" src="trix.js"></script>
    <%= javascript_pack_tag 'application' %>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
  </body>
</html>
